@font-face {
  font-family: "logoFont";
  src: url("E:\newBlog\microcms-blog\public\font\logoFont.woff2")
    format("woff2");
}

.menu-link-item {
  font-weight: bold;
  border-left-width: 1px;
  border-color: gray;
  color: white;
}

.last-link {
  border-right-width: 1px;
  border-color: gray;
}

.menu-link-item:hover {
  transition: 1s;
  color: blue;
  opacity: 0.5;
}

.logo {
  font-family: logoFont;
}
