* {
  scroll-behavior: smooth;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h1,
h2,
h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#lists #h1 {
  font-size: 1.4rem;
  padding-top: 0.5rem;
}

#lists #h2 {
  font-size: 1rem;
  text-align: left;
}
